body {
  margin: 0;
  padding: 0;
  background-color: #0b0a0a;
  color: #ffffff;
  text-align: left;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.header {
  text-align: center;
}
form {
  background-color: #808080;
  padding: 20px;
  border-radius: 10px;
  display: block;
   margin-bottom: 10px;
   width: 50%;
   margin-left: auto;
   margin-right: auto;
}
input {
  display: block;
  margin-bottom: 10px;
}
button {
  display: block;
  margin-bottom: 10px;
}